<%= form_for(@propiedad) do |f| %>
  <% if @propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% @propiedad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codpropiedad %><br>
    <%= f.text_field :codpropiedad %>
  </div>
  <div class="field">
    <%= f.label :tcorto %><br>
    <%= f.text_area :tcorto, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label :tlargo %><br>
    <%= f.text_area :tlargo, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label :tcomercial %><br>
    <%= f.text_area :tcomercial, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label :componertcorto_id %><br>
    <%= f.number_field :componertcorto_id %>
  </div>
  <div class="field">
    <%= f.label :componertlargo_id %><br>
    <%= f.number_field :componertlargo_id %>
  </div>
  <div class="field">
    <%= f.label :componertcomercial_id %><br>
    <%= f.number_field :componertcomercial_id %>
  </div>
  <div class="field">
    <%= f.label :propnumerica %><br>
    <%= f.check_box :propnumerica %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
