<% form_for(@propiedad) do |f| %>
  <% if @propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propiedad.errors.count, "error") %> Esta propiedad no puede ser modificada</h2>

      <ul>
      <% @propiedad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Cod propiedad" %><br>
    <%= f.text_field :codpropiedad %>
  </div>
  <div class="field">
    <%= f.label "Texto Corto" %><br>
    <%= f.text_area :tcorto, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label "Texto Largo" %><br>
    <%= f.text_area :tlargo, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label "Texto Comercial" %><br>
    <%= f.text_area :tcomercial, :rows => 2 %>
  </div>
  <div class="field">
    <%= f.label "Texto Corto compone ..." %><br>
    <%= f.collection_select(:componertcorto_id, PropiedadesComponer.all, :id, :describe, {:selected => @propiedad.componertcorto_id})%>
   
  </div>
  <div class="field">
    <%= f.label "Texto Largo compone ..." %><br>
    <%=f.collection_select( :componertlargo_id, PropiedadesComponer.all, :id, :describe, {:selected => @propiedad.componertlargo_id})%>
  </div>
  <div class="field">
    <%= f.label "Texto Comercial compone ..." %><br>
    <%=f.collection_select( :componertcomercial_id, PropiedadesComponer.all, :id, :describe, {:selected => @propiedad.componertcomercial_id})%>
  </div>
  <div class="field">
    <%= f.label :propnumerica %><br>
    <%= f.check_box :propnumerica %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
