<h1>Listado de propiedades</h1>

<div class="table-responsive">
<table class="table table-hover">

  <thead>
    <tr>
      <th>Texto Corto</th>
      <th>Texto Largo</th>
      <th>Texto Comercial</th>
      <th>Texto Corto compone el ...</th>
      <th>Texto Largo compone el ...</th>
      <th>Texto Comercial compone el ...</th>
      <th>¿Propiedad Numerica?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
   
    <% @propiedades.each do |propiedad| %>
     
      <tr>
        <td><%= propiedad.tcorto %></td>
        <td><%= propiedad.tlargo %></td>
        <td><%= propiedad.tcomercial %></td>
        <td><%= PropiedadesComponer.find(propiedad.componertcorto_id).describe%></td>
        <td><%= PropiedadesComponer.find(propiedad.componertlargo_id).describe %></td>
        <td><%= PropiedadesComponer.find(propiedad.componertcomercial_id).describe %></td>

        <td><%= truefalse_view(propiedad.propnumerica) %></td>
        <td><%= link_to 'Mostrar Detalle', propiedad %></td>
        <td><%= link_to 'Editar', edit_propiedad_path(propiedad) %></td>
        <td><span class="label label-danger">
        	<%= link_to 'Eliminar', propiedad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        	</span>
      </tr>

    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nueva Propiedad', new_propiedad_path %>
