
<h2>Visionando los valores ligados de: </h2>
<kbd> <%= params[:ruta] %>  
<%= @fp.propiedad.tlargo + ": "+  @fp.valor %>
</kbd>
<%= debug(params) %>
<table class="table table-hover">
<thead>
   	<tr>
	  	<th>Propiedad</th>
   	  	<th>valor</th>
      		<th></th>
      		<th></th>	
    		</tr>
</thead>
		<tbody>
			
		  <% if flash[@k] %> 
				<div class="alert alert-<%= @k.to_s %>" > <%= flash[@k] %></div> 
		  <% end %>

			
			<%= form_for @fp, :url => {action: "update"} do |f| %>
				<td><%= hidden_field_tag :ruta,  params[:ruta] %>
				<%= f.fields_for :familias_valoresligados do |v| %>
					<tr>
						<td><%= v.object.propiedad.tlargo %> </td>
					
							<td><%= v.object.familia_propiedadligada.valor %> </td>
							<td><%= v.check_box :_destroy %> </td>
  							<td><%= v.label :_destroy, "Borrar valor ligado" %> </td>
  							
  					</tr>
  				<% end %>
			<tr>
				<td><%= f.submit "Eliminar valores ligados marcados", class: "btn btn-warning"%></td>
			</tr>	
			<%end %>
			<% @fp.familias_valoresligados.build %>
			<%= form_for @fp, :url => {action: "update"} do |f| %>
				<td><%= hidden_field_tag :ruta,  params[:ruta] %>
				<%= f.fields_for :familias_valoresligados do |v| %>
					<% if !v.object.propiedad %>
					<tr>
  						<td><%= v.hidden_field :fp_id, value: v.object.fp_id %>
  							<h4>Añadir Nueva Propiedad Ligada:</h4> 
  							<%= v.select(:fp2_id, options_for_select(@valoresligadospdtes),:prompt => "Seleccionar Nuevo valor Ligado") %></td>
  					</tr>
  					<% end %>
  				<% end %>
			<tr>
				<td><%= f.submit "Insertar Nuevo Valor Ligado", class: "btn btn-warning"%></td>
			</tr>	
			<%end %>

		</tbody>
			
	</table>
			
	<%= link_to 'Volver a la Familia ' + @fp.familia.describe, familias_path(id: @fp.familia.id)%>	        
			
			
