<div class="table-responsive">
		<table class="table table-hover">
  		<thead>
	    	<tr>
		  	<th>Tipo</th>
		  	<th>Cod Subordinado</th>
		  	<th>Razón social</th>
		  	<th>Nombre Comercial</th>
      	  	<th>nif</th>
      		<th></th>
      		<th></th>
      		<th><%=  %></th>	
    		</tr>
  		</thead>

		<tbody>
			<%= entidad.object.subordinados.first.entidadlink_id if !entidad.object.subordinados.first.nil? %>
			
			<% @entidad.subordinados.each do |e| %>
				<%= entidad.fields_for e do |subor| %>
					<tr>	
						<td> <%= subor.text_field :codentidad ,  class: "col-sm-3"%> </td>
						<td> <%= @entidad.entidades_subordinadas.find(e.entidadlink_id).nomentidad %></td>
	   			
	        		</tr>
	        	<% end %>
			<% end %>
	        <%= entidad.hidden_field :id %>
	     </tbody>
	   </table>
</div>
