<h1>Listing entidades</h1>

<table>
  <thead>
    <tr>
      <th>Nomentidad</th>
      <th>Nomcomercial</th>
      <th>Nif</th>
      <th>Tipo</th>
      <th>Espropia</th>
      <th>Codentidad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entidades.each do |entidad| %>
      <tr>
        <td><%= entidad.nomentidad %></td>
        <td><%= entidad.nomcomercial %></td>
        <td><%= entidad.nif %></td>
        <td><%= entidad.tipo_id %></td>
        <td><%= entidad.espropia %></td>
        <td><%= entidad.codentidad %></td>
        <td><%= link_to 'Show', entidad %></td>
        <td><%= link_to 'Edit', edit_entidad_path(entidad) %></td>
        <td><%= link_to 'Destroy', entidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entidad', new_entidad_path %>
