	
<div class="table-responsive">
			
		<table class="table table-hover">
  		<thead>
	    	<tr>
		  	<th class="col-sm-3">Familias y propiedades incluidas </th>
		  	<th class="col-sm-1"></th>
		  	<th class="col-sm-1">Código de Artículo</th>
      		<th class="col-sm-1">Nombre Corto del artículo</th>
      		<th class="col-sm-1">Nombre Largo del artículo</th>
      		<th class="col-sm-1">Nombre Comercial del artículo</th>
      		<th class="col-sm-1"></th>
      		
      		<th class="col-sm-1" >  
      			 <%=  #grupos.submit  "(Re)Generar Artículos", class: "btn btn-warning" 
      			 %>
      			 </th>
    		</tr>
  		</thead>

		<tbody>
			
				<%= grupos.fields_for :articulos do |articulo| %>
				<tr>	 
		   			<td class="col-sm-3"> 
		   				  <%= select_tag(:fp_id, options_from_collection_for_select(Propiedad.find_by_sql("select * from mod_familia_propiedad_grupo_bsc(#{articulo.object.id})"), :id, :describe),{name: "fp[#{articulo.object.id}]", multiple: true, size: 8})%>
		   			</td>
		   			
					<td class="col-sm-1">
		   				  <%= button_tag  "subir_orden", {value: articulo.object.id, name: "subir" , class: "btn btn-default", id: 'subir_articulo', :padre_id => @id, :grupo_id => articulo.object.id} do %>
		   					  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Subir orden
		   	 			  <% end %>
  		   				 <br>
		   	 			 <%= button_tag  "bajar_orden",{value: articulo.object.id, name: "bajar", class: "btn btn-default", id: 'bajar_articulo',:padre_id => @id, :grupo_id => articulo.object.id} do %>
		   					  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Bajar orden
		   	 			  <% end %>
		   	 		</td>
  		   		
  
		   			<td class="col-sm-1">
		   				<%= 
		   					articulo.object.codarticulo
		   				# @nombres_articulos[grupo_form.index]["cod"] 
		   				%>
		   			</td>


		   			<td class="col-sm-1">
		   				<%=
		   				articulo.object.nomcorto
		   				#@nombres_articulos[grupo_form.index]["nomcorto"] 
		   				%>
		   			</td>
		   			<td class="col-sm-1">
		   				<%=
		   					articulo.object.nomlargo
		   					#@nombres_articulos[grupo_form.index]["nomlargo"] 
		   				%>
		   			<td class="col-sm-1">	
		   				<%=
		   					articulo.object.nomcomercial
		   					# @nombres_articulos[grupo_form.index]["nomcomercial"] 
		   				%>
		   			</td>
		   			<td class="col-sm-1">
		   			</td>
		        </tr>
			<% end %>
		</tbody>
	</table>
</div>	
	
	