<%=render 'form_busqueda'%>
<br>
<br>
<%= debug(params)%>


  <%if @fam_prop %>
	<%= form_for(@fam_prop, :action => 'componer_articulo', :method => "post") do |f| %>
		<%= f.hidden_field :id %>
		
		<% if @k %> 
			<div class="alert alert-<%= @k.to_s %>" > <%= flash[@k] %></div> 
		<% end %>
		
  			<div class="form-group">
				<div class="col-sm-4">
    				<h4>Familias, Propiedades/valores que participan en esta Familia. :</h4>	
  					<%= select_tag(:id, options_for_select(@propiedades_familia.to_a),{ multiple: true, size: 10}) %>
				</div>
				<div class="col-sm-4">
					<h4>Desglose de combinatoria. Nº de artículos que generará cada propiedad de esta familia</h4>
					<%= select_tag(:id, options_for_select(@propiedades_articulo.to_a),{ multiple: true, size: 10}) %>
		 		</div>
		 		<div class="col-sm-4">
					<h4><%= @totalarticulos %> Artículos que potencialmente se generarán en esta familia</h4>
						<center>
						<% if @validoGenerar %> 
							<%=	f.submit  "(Re)Generar Artículos", class: "btn btn-warning" %>
						<% else	%>	
							<h5>No se pueden generar artículos por problemas de codificación en las propiedades.</h5>
						<% end %>
						<h6>Artículos actualmente generados en la familia: <%=@articulostotales %></h6>
						
						</center>
		 		</div>
			</div>
			<%= render partial: "tab", object: f %>
	<% end %>
<% end %>

	







<br>



